@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
html {
  
  min-width: 100%;
  background-size: contain;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: contain;
  }
  
  a {
    color: #425664;
    text-decoration: none;
  }
  
  a:hover {
    color: #425664;
    text-decoration: none;
  }
  #med_head
  {
    text-shadow: 2px #344281;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
  }
  #med_descp
  {
     font-family: 'Cinzel', serif;
     font-size: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #425664;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #8b5c21;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  .hero_area {
    height: 700px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* .et_pb_button {
    display: inline-block;
    margin: 5px;  space between buttons 
} */
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    
  }
  
  #header .header-container {
    background: #ccced1;
  }
  
  #header.header-scrolled {
    background:#ccced1;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.171);
    top: 0;
  }
  
  #header .logo {
    overflow: hidden;
    padding: 16px 30px 12px 30px;
    background: #344281;
  }
  
  #header .logo h1 {
    font-size: 26px;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      top: 0;
      background: #ccced1;
    }
    #header.header-scrolled, #header .header-container {
      background: #ccced1;
    }
    #header .logo {
      padding-left: 0;
    }
    #header .logo h1 {
      font-size: 24px;
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 10px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10 10px 30px;
    color: rgb(22, 21, 21);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
  
  }
  
  .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #425664;
  }
  
  #support {
    background: #425664;
    padding: 10px 25px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
  }
  #support:hover {
    color: #fff;
    background: #c6ad8f;
  }
  .navbar .getstarted {
    background: #425664;
    padding: 10px 25px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #c6ad8f;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
    font-weight: 500;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #cccde1;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(29, 28, 31, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #ccced1;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #ccced1;
  }
  
  .navbar-mobile .getstarted {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px #ccced1;
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #cccde1;
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  /* SLIDER SECTION */
  .slider_section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .slider_section .slider_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .slider_section .slider_bg_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  
  .slider_section .slider_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(14, 55, 70, 0.5)), to(rgba(14, 55, 70, 0.55)));
    background: linear-gradient(to right, rgba(14, 55, 70, 0.5), rgba(14, 55, 70, 0.55));
  }
  
  .slider_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .slider_section #customCarousel {
    width: 100%;
    z-index: 3;
  }
  
  .slider_section .detail-box {
    text-align: center;
    color: #ffffff;
  }
  
  .slider_section .detail-box h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  .slider_section .detail-box p {
    margin: 25px 0;
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #be2623;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #be2623;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .slider_section .detail-box a:hover {
    background-color: transparent;
    color: #be2623;
  }
  
  .slider_section .img-box img {
    width: 100%;
  }
  
  .slider_section .carousel-indicators {
    position: unset;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px;
  }
  
  .slider_section .carousel-indicators li {
    background-color: #be2623;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
  }
  
  .slider_section .carousel-indicators li.active {
    width: 17px;
    height: 17px;
    background-color: #ffffff;
  }

  
h1 {
    font-family: 'AvaraBold';
    font-weight: normal;
    font-style: normal;
    margin-left: 20px;
    font-size: 55px;
    font-weight: bolder;
    color: rgb(23, 24, 22);
    
    
 }

/*cards*/
.img{
  height:150px;
  width:100%;
}

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
  box-shadow: 0 0 3pt 3pt #585555;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.video
{
    height: 265px;
    width: 260px;
    margin: 100px auto;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
iframe
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

#info1
{
  font-family: 'Poppins',sans-serif;
  font-size: 30px;
  
  color: #496853;
  text-shadow: none;
  
}
#info2
{
  font-size: 18px;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background-color:#fff;
  color: #cccde1;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #cccde1;
  color: #fff;
  text-decoration: none;
}