<!DOCTYPE html>
<head> <title>About Us</title>
<link href="static/styles/style.css" rel="stylesheet">
<link href="static/styles/copyright.css" rel="stylesheet">
</head>
<body>
	<nav id="navbar" class="navbar">
        <ul>
          <li><a href="/contact_us">Contact Us</a></li>
          <li><a href="/DiseaseDescription">Health Check</a></li>
          <li><a href="/Achievements">Achievements</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/index">Home</a></li>
        </ul> 
    </nav>
  <div class="aboutus">
  <h2>About Us</h2>
  <p>
    XYZ is here to add value to your daily routine. Thinking how? XYZ brings you with a self-care regime following which will help you become a better version of yourselves in terms of mental and physical health. Also, we aim at providing some knowledge regarding the topic of your interests too under the miscellaneous category. 
  </p>
  <h3>How it works:</h3>
   <p>
    Set yourself free for 1 hour daily. That 1 hour will be distributed in such a way that you will be able to do some physical activity in form of yoga, some mental activity in form of meditation, and some fun by reading and knowing the facts about the topic of your interests mentioned under miscellaneous section. 
  </p>
  <h3>Don’t have complete 1 hour?:</h3>
   <p>
    Don’t worry, we have given a Skip button under each activity section so that if you are not having time then it will let you directly jump to your favorite activity section. Also, in 1 week, you can’t skip activities more than thrice. Do remember 3 is the limit.
  </p>
  </div>
</div>
<footer id="main-footer">
  Copyright &copy; Copyright <strong><span>MyTime</span></strong>. All Rights Reserved
</footer>
</body>
</html>
