<!DOCTYPE html>
<head> <title>About Us</title>
<link href="static/styles/style.css" rel="stylesheet">
<link href="static/styles/copyright.css" rel="stylesheet">
</head>
<body>
	<nav id="navbar" class="navbar">
        <ul>
          <li><a href="/contact_us">Contact Us</a></li>
          <li><a href="/DiseaseDescription">Health Check</a></li>
          <li><a href="/Achievements">Achievements</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/index">Home</a></li>
        </ul> 
    </nav>
  <div class="aboutus">
  <h2>This is Achievements Page</h2>
  </div>
</div>
<footer id="main-footer">
  Copyright &copy; Copyright <strong><span>MyTime</span></strong>. All Rights Reserved
</footer>
</body>
</html>
