<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>ReadMe->MyTime</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" , intital-scale="1.0" />
        <link rel="stylesheet" href="static/styles/styles1.css" />
        <link href="static/styles/copyright.css" rel="stylesheet">
       

        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>
            $(document).ready(function () {
            $("#icon").click(function () {
            $("ul").toggleClass("show");
            });
            });
        </script>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/DiseaseDescription">Health Check</a></li>
                <li><a href="/Achievements">Achievements</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/index">Home</a></li>
            </ul> 
        </nav>

        <header>A Moment in Time</header>
        <a id="blog1"></a>
        <div>
            <h1 class = "mainHeading"><br>What Is Self-Care and Why Is It So Important for Your Health?</h1>
            <div class = "dateDiv">
                <h5 class = "date">May 19, 2021</h5>
            </div>
            <p>
                Several organizations and researchers take a health-oriented approach when defining self-care. The World Health Organization defines self-care as: “the ability of individuals, families, and communities to promote health, prevent disease, maintain health, and to cope with illness and disability with or without the support of a healthcare provider.”right up arrow
                <br><br>
                According to this definition, self-care includes everything related to staying physically healthy — including hygiene, nutrition, and seeking medical care when needed. It’s all the steps an individual can take to manage stressors in his or her life and take care of his or her own health and well-being.
            </p>
            <img src="static/styles/img12.jpg" class = "image"/>

            <p>
                Some researchers have adopted a similarly clinical approach. A 2010 study published in JBI Library of Systematic Reviews defined self-care as "the set of activities in which one engages throughout life on a daily basis,” focusing on promoting health, preventing illness, and managing issues that come up.right up arrow

<br> <br>               A study published in BMC Palliative Care in April 2018 took self-care to mean “the self-initiated behavior that people choose to incorporate to promote good health and general well-being.” The study authors added that it’s about being healthy but also about incorporating coping strategies to deal with work stressors.right up arrow
<br><br>
In 2019 researchers published a self-care framework in The BMJ to specifically point out that in addition to self-care being the activities individuals do on their own to promote physical and emotional health, it also includes the ways that individuals interact with clinicians and healthcare systems to tend to physical and emotional health. 
<br><br>
That means self-care includes things like getting a vaccine, scheduling cancer screenings, or taking prescription medications on schedule — but healthcare providers and organizations play a role, too, in how well individuals engage in these self-care practices. In other words: There are a lot of people and factors that bear on any one individual’s ability to engage in self-care.right up arrow
As self-care has become more mainstream, the definitions have started to become more applicable to the general public and tend to focus on tuning in to one’s needs and meeting those needs. “Self-care is anything that you do for yourself that feels nourishing,” says Marni Amsellem, PhD, a licensed psychologist based in Trumbull, Connecticut.
<br><br>
<b>“That can be something that’s relaxing or calming, or it can be something that is intellectual or spiritual or physical or practical or something you need to get done,”</b> she says.
<br><br>
The <b>International Self-Care Foundation</b> also includes health literacy as a pillar of self-care, meaning that any steps you take toward better understanding health information you need to make appropriate decisions about your health and well-being counts as self-care, too.right up arrow
This is why at Everyday Health, self-care is all the steps you take to tend to your physical and emotional health in the ways you are best able to do so.

<br>
<br><br><br><br>
</p>
        </div>


        
        <a id="blog2"></a>
        <div>
            <h1 class = "mainHeading">HOW TO BALANCE PRODUCTIVITY AND REST WHEN YOU WORK FROM HOME</h1>
            <h5 class = "date">June 14, 2021</h5>
            <p>With quarantine limitations still in order here in the US, spending so much time at home has brought up some interesting challenges.
<br> <br>
                Even though I’ve worked from home for two years, this period of time has taught me that working from home can easily blur the lines between work and self-care.
         <br><br>       
                When your home is also your office, bringing work into your self-care space can create some hazy boundaries. This makes it hard to a) find the motivation to work and/or b) switch off from work.
                <br><br>
                <br>
                <img src="static/styles/img13.jpg" class = "image" />
                <br>
                When I was working in an office, I found it easy to mentally check out from work as soon as I left the office at 5pm. But now, I’ll catch myself making dinner at 5 then going back to my computer while I eat (so bad, I know).
<br> <br>
Working from home means the same place where you eat, relax, and socialize becomes associated with work.
<br> <br>

If you’re on regular Zoom calls, your work meetings are now in your sacred space. It’s almost like inviting your co-workers into your living room for a meeting.
<br> <br>
To add to this, your typical forms of escape from work might not be available with quarantine limitations still in effect. For example, the yoga studio, the gym, your local pool, and the coffee shop where you would catch up with a friend.
<br> <br>
The places and activities that you associate with self-care aren’t available right now. This can make it hard to disengage from work while simultaneously making you feel like you’re resting too much.
<br> <br> <br> <br>
</p>
        </div>



        <a id="blog3"></a>
        <div>
            <h1 class = "mainHeading">Self-Care & Feeling Your Feelings</h1>
            <h5 class = "date">June 14, 2021</h5>
            <p> 

                <br><br>
                <img src="https://images.unsplash.com/photo-1492052722242-2554d0e99e3a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" class = "image" />
                <br>
                The other morning, before the sun was fully up, I went into Jonah’s room. He’d been babbling for a few minutes and, armed with a hot cup of coffee, I was ready to hang out with my son. I walked in the door and was greeted by his sweetest smile. I smiled back, filled with love for this darling 20-month old human being. 

Then he burst into tears. 
<br> <br>
What followed was the worst tantrum I’ve seen from him yet. He wanted to be picked up but, as soon as he was in my arms, he wanted to be put down. Then he was furious that he wasn’t in my arms again. He was sobbing so hard he couldn’t take a deep breath. 

For ten minutes, as I watched my cup of coffee getting colder, Jonah completely freaked out. He screamed, repeating “NO NO NO!” over and over. Despite my best efforts, he couldn’t be consoled. All I could do was try to keep his writhing little body from hurting himself and wait for the tantrum to pass. 
<br> <br>
Experiencing this tantrum felt particularly appropriate because the night before Micah and I watched the Mr. Roger’s documentary. After watching, Micah and I discussed Mr. Roger’s profound vision. He truly saw children’s complex inner lives and gave them a much-needed space to freely express their real hopes, fears, and doubts about life. 

I was struck by the simplicity of what he taught and how hard it can be to actually hold this kind of space for anyone who is suffering, especially my child, especially first thing in the morning before I’ve had my coffee. 
Mr. Roger’s message also lines up with what I’ve been reading in Janet Lansbury’s books on respectful parenting and toddler discipline.
<br> <br>
This passage from her particularly struck me: 

<b>“...all infants...can be trusted to grieve as an individual in a unique and perfect way. Infants demonstrate the authentic expression of their feelings when given the opportunity. </b>If we can give them the space and time to express painful feelings instead of arresting their cries, and if we can steady ourselves to work through our own discomfort, then our children can be reassured that their true responses are accepted and appropriate.” 
<br> <br>
Both Janet Lansbury and Mr. Roger’s examples of respecting children’s emotional lives confirm what I’ve seen helping my clients with their self-care: If we are not given space to express our emotions freely when we are younger, these blocked emotions will continue to affect us and our self-care as we get older. 
<br> <br>
Our conditioned belief that our “negative” emotions are wrong can manifest in our adult lives as addictive tendencies, low self-esteem, and/or patterns of self-destructive relationships. We become convinced that because we feel these healthy, normal emotions, we are “bad” and aren’t worthy of care and respect. 
<br> <br>
From there, we may continue to engage in a lifestyle of numbing behavior (which only turns down the volume on our emotions rather than making them go away), usually choosing emotionally unavailable relationships which reflect our early learning about emotions. In these relationships, we can become terrified to say what we really mean or set boundaries of any kind, lest we become further emotionally abandoned.
<br> <br>
(I think it’s important to say that these self-destructive tendencies can happen even when we are given other important forms of care during our childhood. Janet Lansbury’s experience of emotional denial within an otherwise healthy family is an stark example of the incredible importance of emotional self-care.)

More and more, I’m learning that self-care is about so much more than just our personal habits and routines. We can run marathons and sleep nine hours a night, but if we don’t know how to honor our emotions and set real boundaries in relationships, our self-care practices don’t truly work. 
<br> <br>
Our emotional shortages act like holes in our self-care bucket. <b>No matter how much healthy stuff we try to fill ourselves with, the true energy of self-care always seems to seep out. Thus, a vital layer of self-care is learning how to honor our emotions and practice authenticity in our relationships.</b> 
<br> <br>
As someone who didn’t learn a lot of emotional self-care growing up, I’ve searched far and wide to change my emotional patterns. I’m so grateful to have found teachers, traditions, and communities that affirmed the validity of my emotions and gave me the space I needed to express myself. 
            </p>
        </div>
        <footer id="main-footer">
            Copyright &copy; Copyright <strong><span>MyTime</span></strong>. All Rights Reserved
        </footer>
    </body>
</html>