<html>
    <head>
        <title>Button</title>
        <link href="css/buttonfinish.css">
    </head>
<body>

<div class="popup center">
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="title">
      Success !!
    </div>
    <div class="description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
    </div>
    <div class="dismiss-btn">
      <button id="dismiss-popup-btn">Dismiss</button>
    </div>
  </div> 
  <script src="js/buttonfinish.js"></script>
</body>
  </html>