<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Secondpage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
    </style>

  <!-- Favicons -->
   <link href="img/favicon.png" rel="icon"> 
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="static/styles/secondpagecss/aos.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/bootstrap.min.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/bootstrap-icons.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/boxicons.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/glightbox.min.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/remixicon.css" rel="stylesheet">
  <link href="static/styles/secondpagecss/swiper-bundle.min.css" rel="stylesheet">
  
  <link href="static/styles/secondpagecss/Secondpage.css" rel="stylesheet">
  <link rel="stylesheet" href="static/styles/secondpagecss/dropdown.css">
  
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  
  <!-- owl carousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet"/>


  <!--  Main CSS File -->
  <link rel="stylesheet" type="text/css" href="static/styles/secondpagecss/owl.carousel.css" />
  <link rel="stylesheet" href="static/styles/secondpagecss/buttonfinish.css" />
  
  <!--Inline CSS File-->
  <link rel="stylesheet" href="static/styles/secondpagecss/responsive.css">
  <link rel="stylesheet" href="static/styles/secondpagecss/Yogastyle.css">
  <style>
    .parent-box {
      background-color: rgb(253, 253, 253);
      display: flex;
    }

    .box1 {
      height: 300px;
      width: 450px;
      background-color: rgb(251, 251, 250);
      margin-right: 30px;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
      overflow: hidden;
      border-radius: 1rem;

    }

    .owl-carousel .owl-nav button.owl-prev {
      background: none;
      color: inherit;
      border: none;
      padding: 20;
      font-size: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #f0e2a6;

    }

.owl-carousel .owl-nav button.owl-next {
      background: none;
      color: inherit;
      border: none;
      padding: 0 !important;
      font-size: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;

      background-color: #f0e2a6;
    }
  </style>

</head>
<body>
<!--***********************************YOGA:HEALTH(start)***********************************-->
  <div class="hero_area">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
          <div class="logo">
            <h1 class="text-light"><a href="#"><span>MYTIME</span></a></h1>
          </div>

          <nav id="navbar" class="navbar">
            <ul>
      
              <li><a class="nav-link scrollto " href="/index">Home</a></li>
              <li><a class="nav-link scrollto" href="/about">About</a></li>
              <li><a class="nav-link scrollto" href="/blogs">Blogs</a></li>
              <li><a class="nav-link scrollto" href="/Achievements">Achievement</a></li>
              <li><a class="nav-link scrollto" href="/DiseaseDescription">Health Check</a></li>  
              <li><a class="nav-link scrollto" href="/contact_us">Contact Us</a></li>

              <li></li>
              <li><a id="countdown" style="color: black; font-size: 30px; border: 2px solid black;">59:00</a></li>
              <script src="static/secondpagejs/timer2.js"></script>


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>

        </div><!-- End Header Container -->
      </div>
    </header>

    <!-- End Header -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="static/styles/secondpageimg/1.jpg" alt="">
      </div>
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Yoga 
                    </h1>
                    <p style="color: rgb(239, 247, 247); font-size: 170%;">
                      "Yoga adds years to your life, and life to your years"
                      
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Yoga 
                    </h1>
                    <p style="color: rgb(239, 247, 247); font-size: 170%;">
                      "Take the time to make your soul happy"
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Yoga 
                    </h1>
                    <p style="color: rgb(221, 213, 202); font-size: 170%;">
                      "Yoga is the practice of quieting your mind"
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel" data-slide-to="1"></li>
          <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
      </div>
    </section>
  </div>

  <!-- end slider section -->

  <!-- about section of Yoga -->
  <!-- <br><br> -->
  <section class="about_section layout_padding" id="link1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="static/styles/secondpageimg/about-img.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Why Yoga?
              </h2>
            </div>
            <p>
              Regular yoga practice creates mental clarity and calmness; increases body awareness; relieves chronic stress patterns; relaxes the mind;
	     centers attention; and sharpens concentration. Yoga can be very effective in developing coping skills and reaching a more positive outlook on life.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end about section -->
<!-- asan section -->
<section class="asan_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Basic Yoga Asanas
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Chakrasana
              </h5>
              <p>
                This yoga pose is especially beneficial for asthma patients.It gives flexibility and strength to the spine. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Adho Mukha Svanasana
              </h5>
              <p>
                It improves blood flow to the brain and strengthens your bones to prevent hamstrings .
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Sukhasana
              </h5>
              <p>
                To relieve knee pain, To ease your lower back and relax tight shoulders.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Ashta Chandrasana
              </h5>
              <p>
                Improves the functioning of the Respiratory System, Flexes the hips, knees and ankles: and Improves the Circulatory System.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y5.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Virabhadrasana II
              </h5>
              <p>
                This standing posture is good for strengthening and stretching the legs and ankles. It also stimulates the abdominal organs and relieves backaches.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y6.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Dhanurasana
              </h5>
              <p>
                It stretches the entire body. It helps in weight loss and boosts digestion and blood circulation. It is effective in making the back flexible.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y7.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Bhujangasana
              </h5>
              <p>
                 It can be a great asana for people dealing with arthritis of the lower back and lower back pains.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
          <div class="box">
            <div class="img-box">
              <img src="static/styles/secondpageimg/y8.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Eka Pada Rajakapotasana
              </h5>
              <p>
                This pose stretches your thighs, inner hips, and buttocks in different ways in your bent and straight legs.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end asan section -->

  <section id="slider-demo" style="background-color:rgb(255, 255, 255); margin: 40px ;">


    <div class="parent-box owl-carousel">
      <!--FIRST-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/VaoV1PrYft4" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <!--SECOND-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/TzFwjN_7Ir0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <!--THIRD-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/mfGMYe_tJdo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
       </div>
  </section>

  <div class="row1">
    <div class="b1" style="text-align: center; margin-left: 30px  ;">
      <a href="#medtn" style="margin: 10px auto;margin-top: 5px;display: inline-block;background-color: #111961;color: #ffffff;
  border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
  margin-top: 40px;  width: 250px; height: 40px;  align-items: center; font-size: 25px;">Next</a>
      <a href="#medtn" style="margin: 10px auto;margin-top: 5px;margin-left: 40px;display: inline-block;background-color: #111961;color: #ffffff;border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
margin-top: 40px;  width: 250px; height: 40px;  align-items: center; font-size: 25px;">Skip now</a>
    </div>
  </div>
  <section><div>
    <br><br><br><br><br>
  </div></section>
  
  <!--***********************************YOGA :HEALTH(end)***********************************-->

  <!--2-->
  <!--***********************************MEDITATION:MIND(start)***********************************-->
  <section id="medtn" class="d-flex align-items-center"
    style=" 
           grid-area: 100%;height: 730px; align-items: center; background: url(static/styles/secondpageimg/medi1.jpg); background-repeat: no-repeat;  margin: 0;">
    <div class="container text-center position-relative" data-aos="zoom-in"
      style="display: grid; grid-area: 100%; text-align: center; ">
      <div class="detail-box">

        <h1 style="color: azure; text-transform: uppercase; size: 70px; font-weight: 400px; text-shadow: #111961; " id="med_head">Meditation</h1>
        <h2 style="color: azure; text-transform: uppercase;" id="med_descp">From Stress to Self-Reliazation</h2><br><br>

      </div>
  </section> <br><br><br>

  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header" style="text-align: center;">
        <h3>Why Meditation?</h3>
        <p>Meditation can give you a sense of calm, peace and balance that can benefit both your emotional well-being and your overall health. And these benefits 
          don't end when your meditation session ends. Meditation can help carry you more calmly through your day and may help you manage symptoms of certain medical 
          conditions.</p>
      </header>

      <div class="row about-container" style="text-align: center;">

        <div class="col-lg-6 content order-lg-1 order-2">


          <div class="icon-box" data-aos="fade-up" data-aos-delay="100"><br>
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Control anxiety</a></h4>
            <p class="description">Meditation can reduce stress levels, which translates to less anxiety.
             <br>
              A meta-analysis including nearly 1,300 adults found that meditation may decrease anxiety. Notably, this effect was strongest in those with the highest levels of anxiety </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Lower your stress</a></h4>
            <p class="description"> Stress Reduction is one of the most common reasons people try meditation.

              One review concluded that meditation lives up to its reputation for stress reduction</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Help fight addictions</a></h4>
            <p class="description">The mental discipline you can develop through meditation may help you break dependencies by increasing your self-control and awareness of triggers for addictive behaviors </p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2" data-aos="zoom-in"><br><br><br>
          <img src="static/styles/secondpageimg/meditate1.jpg" class="img-fluid" alt="">
        </div>
      </div>
       <br><br>
      <div class="row about-extra">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="static/styles/secondpageimg/bodyscan.gif" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
          <h4>Body Scan Meditation</h4>
          <p>
            Get into a comfortable position. You can sit or lie down. Close your eyes for a deeper practice. Starting with your feet and toes, tune into and pay attention to any sensations you feel, like pain or discomfort.
          </p>
          <p>
            Take a nice deep breath in through your nose, exhaling through the mouth, releasing the uncomfortable sensation.
          </p>
          <p>
            Work your way up the body, paying attention to how you feel as you focus on the legs, the hips, the back, the stomach, the chest, the neck and shoulders, the arms and hands, and finally the face.
          </p>
        </div>
      </div>

       <div class="row about-extra">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="static/styles/secondpageimg/Dia.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
          <br>
          <h4>Diaphragmatic Breathing</h4>
          <p>
            Lie on your back on a supportive surface. Bend your knees and support your head with a pillow. Place one hand on your chest and the other below your rib cage. 
            Breathe in deeply through your nose so you can feel the hand on your stomach gently rising.
          </p>
          <p>
            Allow the muscles of your stomach to tense and tighten as you exhale through your lips.
            Practice this breathing technique for about 5-10 minutes 3-4 times a day if possible.
          </p>
          
        </div>

      </div> 

    </div>
  </section>

  <div class="dropdown show" style="text-align: center; ">
    <br><br><br>
    <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" style="background: rgb(38, 38, 85); width: 260px; 
      font-family: 'Poppins',sans-serif; font-weight: 400; font-size: 23px;">
      Next
  </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 260px;">
      <a class="dropdown-item" href="#cooking">Cooking</a>
      <a class="dropdown-item" href="#reading">Reading</a>
      <a class="dropdown-item" href="#artscraft">Arts & Crafts</a>
      <a class="dropdown-item" href="#business">Business</a>
    </div>

  </div>
  <!--***********************************MEDITATION:MIND(end)***********************************-->

  <section>
    <div>
      <br><br><br><br><br>
    </div>
  </section>

  <section>
    <div>
      <br><br>
    </div>
  </section>
  <!--3-->
  <!---MISCEALLANEOUS ACTIVITIES-->
  <!--***********************************COOKING(start)***********************************-->
  <section id="cooking" class="d-flex align-items-center"
    style=" 
          display: grid; grid-area: 100%;height: 730px; align-items: center; background: url(static/styles/secondpageimg/cooking_bg2.jpg); 
          background-repeat: no-repeat;">
    <div class="container text-center position-relative" data-aos="zoom-in"
      style="display: grid; grid-area: 100%; text-align: center; ">
      <div class="detail-box">
        <h2 class="animate__animated animate__fadeInDown" style="color: #fff;
                margin-bottom: 30px;
                font-size: 48px;
                font-weight: 700; filter: blur(0); font-family: 'Acme', cursive; text-shadow: 3px 2px #4d4f5e;"><span
            style="color: #9bd19f; text-shadow: 3px 2px #4d4f5e;">HEALTHY</span> COOKING</h2>
        <p class="animate__animated animate__fadeInUp" style="color: rgb(233, 230, 186); text-transform: uppercase; font-size: 24px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">COOKING WITH LOVE PROVIDES FOOD FOR THE SOUL</p>
      </div>
  </section><!-- End Hero -->

<!--Section for videos-->
  <section id="slider-demo" style="background-color:rgb(255, 255, 255); margin: 40px ;">


    <div class="parent-box owl-carousel">
      <!--FIRST-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/UgA_5V3Jro0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <!--SECOND-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/Gmh_xMMJ2Pw" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <!--THIRD-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/QYcw8QbYj8o" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <!--FOURTH-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/ee0SfGSJOTc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <!--FIFTH-->
      <div class="box1">
        <iframe width="450" height="300" src="https://www.youtube.com/embed/KOcyirXd0Zc" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
     </div>
  </section>
<section id="about" class="about">
    <div class="container" style="font-family: Open Sans, sans-serif; color: #444444;">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <h2><b>Some Cooking Facts!</b></h2>
          <h3 style="font-size: 20px;">Are you interested in cooking? Here are some amazing facts that you must know.
          </h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <ul>
            <li><i class="ri-check-double-line"></i> Humans started cooking 1.8-2.3 million years ago.
            </li>
            </li>
            <li><i class="ri-check-double-line"></i> There are about 941,600 chefs around the world.
            </li>
            velit</li>
            <li><i class="ri-check-double-line"></i> Though microwavable food is seen as radioactive junk, 
                   most vegetables retain more nutrients from microwaving than any other cooking method.
            </li>
            <li><i class="ri-check-double-line"></i> The original recipe from 18th century Europe required a pound each of butter, flour, sugar, and eggs. 
                    As a result, these traditional cakes weighed 4 lbs or almost 2 kg!
            </li>
            <li><i class="ri-check-double-line"></i> Bread was associated with national identity in pre-revolution France. Baking bread was kept the people from rioting.
            </li>
          </ul>
        </div>
      
      </div>

    </div>
  </section><!-- End About Section -->
  <div class="b1" style="text-align: center; margin-left: 30px  ;">
    <button onclick="myfunc()" style="margin: 10px auto;margin-top: 5px;display: inline-block;background-color: #111961;
      color: #ffffff;border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
      margin-top: 40px;  width: 250px; height: 40px;  align-items: center; font-size: 25px;">Finish now</button>
    <br><br><br><br><br>
  </div>
<!--***********************************COOKING(end)***********************************-->
  <br><br>

<!--3.-->
 <!--***********************************READING(start)***********************************-->
  <section id="reading">
  <div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="static/styles/secondpageimg/book2.jpg">
    <div class="container-fluid">
      
      <div class="row" >
        <div class="col-12" >
          
          <div class="t1" style="height: 204px; width: 340px; background: rgb(82, 105, 105); text-align: center;">

            <span class="t2" style="text-transform: uppercase; font-size: 45px; color:white;  ">Reading </span>
          </div>
          <div class="t3" style="text-align: right; font-size: 30px; color: rgb(255, 254, 254); ">

            <h2 style="margin-top: 60px;">THE WORLD BELONGS TO THOSE WHO READ</h2> 
          <h4></h4>
          </div>
        </div>
      </div>
    </div>
  </div></section>
<div class="container-fluid mt-7">
    <div class="row mb-6">
      <section class="col-lg-6 mb-lg-0 mb-5">
        <br><br><br>
        <div class="tm-intro" style="text-align: center;">

          <h3 class="tm-title-gray mb-4" style="text-align: center;">Book Recommendation For Beginners</h3>

          <div class="box-v-1" style="height: 450px; width: 650px;text-align: center;margin: 30px auto;overflow: hidden;">
            <img src="static/styles/secondpageimg/book.jpg" height="236px" width="370px">
            <p>
              Thinking of giving reading a try? While reading can be healing, informative, and entertaining, it is super important to choose the right book, too. But let us tell you, you just made the best decision and a new world is waiting for you!
            </p>
            <a href="https://www.intermiles.com/blog/10-best-books-to-read-for-beginners"
              style="text-align: center; padding: 10px; border-radius: 60px; border: cadetblue 5px solid;">Read more</a>
          </div>

        </div>

      </section>
     <section class="col-lg-6 mb-lg-0 mb-5">
      <br><br><br>
        <div class="tm-intro" style="margin-left: 40px;">
          <h3 class="tm-title-gray mb-4" style="text-align: center;">Book Recommendation For Beginners</h3>
         
          <div class="box-v-1" style="
              height: 400px; width: 650px;
			background-color: rgb(251, 251, 250);
			margin: 30px auto;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
            overflow: hidden;
            border-radius: 1rem;">
            <iframe width="750" height="300" src="https://www.youtube.com/embed/HqXtd0tjS5Q"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

        </div>

      </section></div></div>

      
      <!--BUTTON FOR FINISH-->
      <div class="row1">
        <div class="b1" style="text-align: center; margin-left: 30px  ;">
          <button onclick="myfunc()" style="margin: 10px auto;margin-top: 5px;display: inline-block;background-color: #111961;
          color: #ffffff;border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
margin-top: 40px;  width: 250px; height: 40px;  align-items: center; font-size: 25px;">Finish now</button>
     </div>
      </div>
      <section><div><br><br><br></div></section>
      <section><div><br><br><br></div></section>
<!--***********************************READING(end)***********************************-->

<!--4-->
<!--***********************************ARTS AND CRAFT(start)***********************************-->
      <section id="artscraft" class="d-flex align-items-center"
        style=" 
          display: grid; grid-area: 100%;height: 730px; align-items: center; background: url(static/styles/secondpageimg/arts_bg1.jpg);
          background-repeat: no-repeat;">
        <div class="container text-center position-relative" data-aos="zoom-in"
          style="display: grid; grid-area: 100%; text-align: center; ">
          <div class="detail-box">
             <br><br><br>
            <h1 style="color: rgb(20, 20, 20); text-transform: uppercase; text-shadow: 3px 3px #d1c48b;">Arts and Craft</h1>
            <h4 style="color: rgb(53, 49, 2); text-transform: uppercase; text-shadow: 3px 3px #42c779;">For every art lover</h4><br><br>

          </div>
      </section>
      <section>
        <div><br><br><br></div>
      </section>
      <div class="parent-box owl-carousel" style="margin-left: 15px; ">
        <!--FIRST-->
        <div class="box1">
          <iframe width="450" height="300" src="https://www.youtube.com/embed/uXtjUsv7hTM" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <!--SECOND-->
        <div class="box1">
          <iframe width="450" height="300" src="https://www.youtube.com/embed/SF71ks5FrKQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <!--THIRD-->
        <div class="box1">
          <iframe width="450" height="300" src="https://www.youtube.com/embed/EW0ffPcseKs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <!--FOURTH-->
        <div class="box1">
          <iframe width="450" height="300" src="https://www.youtube.com/embed/tjrhRk4U4_M" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <!--FIFTH-->
        <div class="box1">
          <iframe width="450" height="300" src="https://www.youtube.com/embed/VN9Lezlm3RU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <!--BUTTON FOR FINISH-->
      <div class="row1">
        <div class="b1" style="text-align: center; margin-left: 30px  ;">
          <button onclick="myfunc()" style="margin: 10px auto;margin-top: 5px;display: inline-block;background-color: #111961;
          color: #ffffff;border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
        margin-top: 40px;  width: 250px; height: 40px;  align-items: center; font-size: 25px;">Finish now</button>
</div>
<section><div><br><br><br></div></section>
<!--***********************************ARTS AND CRAFT(end)***********************************-->

<!--***********************************BUSINESS(start)***********************************-->

<section id="business" class="d-flex align-items-center"
        style="height: 680px; align-items: center; background: url(static/styles/secondpageimg/business_bg1.jpg);
        background-repeat: no-repeat;  margin-right: 0;">
        <div class="container text-center position-relative" data-aos="zoom-in"
          style=" text-align: center; ">
          <div class="detail-box">

            <h1 style="color: rgb(240, 239, 231); text-shadow: 3px 3px #000000; font-size: 
            50px;">BUSINESS</h1>
            <h4 style="color: rgb(248, 205, 200); text-shadow: 2px 3px #000000">A succesful business only requires simple thing<br><b style="text-transform: uppercase; font-size: 30px;">Passion</b> 
                </h4>

          </div>
      </section>

<section>
<br><br>

<div class="container mt-2" style="margin-left: 22%; margin-right: 22%;">
  
    <div class="row">
      <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
        <div class="card card-block">
        
      <img src="static/styles/secondpageimg/blog1.jpg" class="img">
          <h5 class="card-title mt-3 mb-3">How is it possible to create A Business With No Staff</h5>
          <p class="card-text">Can a business operate without staff? Yes, however, most companies need...</p>
          <a href="https://www.businessarticleshub.com/how-to-create-a-business-with-no-staff/"  style="text-align: center;">Read More</a> 
    </div>
      </div>
      <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
        <div class="card card-block">
        
      <img src="static/styles/secondpageimg/blog2.jpg" class="img">
          <h5 class="card-title  mt-3 mb-3">Shopping Local May Save Christmas In The UK</h5>
          <p class="card-text">Expect market hours to extend beyond the weekend to meet growing demand... </p> 
          <a href="https://www.businessarticleshub.com/shopping-local-may-save-christmas-in-the-uk/"  style="text-align: center;">Read More</a>
    </div>
      </div>
      
      <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
        <div class="card card-block">
        
      <img src="static/styles/secondpageimg/blog3.jpg" class="img">
          <h5 class="card-title  mt-3 mb-3">Exchanging USD to Bitcoin Has Never Been Easier</h5>
          <p class="card-text">Digital currencies are the now and the future of commerce......</p> 
          <a href="https://www.businessarticleshub.com/exchanging-usd-to-bitcoin-has-never-been-easier/"  style="text-align: center;">Read More</a>
    </div>
      </div>    
    </div>
    
  </div></section>
  <section style="margin-top: 25px;" >
    <div class="container mt-2" style="margin-left: 22%; margin-right: 22%;">
      
        <div class="row">
          <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
            <div class="card card-block">
            
          <img src="static/styles/secondpageimg/blog4.jpg" class="img">
              <h5 class="card-title mt-3 mb-3">How Businesses Are Using AI Cloud Services</h5>
              <p class="card-text">Artificial intelligence in business is far-reaching and accessible...</p>
              <a href="https://www.businessarticleshub.com/how-businesses-are-using-ai-cloud-services/"  style="text-align: center;">Read More</a> 
        </div>
          </div>
          <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
            <div class="card card-block">
            
          <img src="static/styles/secondpageimg/blog5.jpg" class="img">
              <h5 class="card-title  mt-3 mb-3">Use Real-Time Captions for Your Business Zoom Sessions</h5>
              <p class="card-text">Live captioning has made the virtual world connect in more profound....</p> 
              <a href="https://www.businessarticleshub.com/use-real-time-captions-for-your-business-zoom-sessions/"  style="text-align: center;">Read More</a>
        </div>
          </div>
          <div class="col-md-3 col-sm-6" style="margin-left: 8px;">
            <div class="card card-block">
            
          <img src="static/styles/secondpageimg/blog6.jpg" class="img">
              <h5 class="card-title  mt-3 mb-3">Why Going Green Is Good For Your Business (& How To Do It)</h5>
              <p class="card-text">The more we learn about our environmental impact, the more we ....</p> 
              <a href="https://www.businessarticleshub.com/why-going-green-is-good-for-your-business-how-to-do-it/"  style="text-align: center;">Read More</a>
        </div>
          </div>
             
        </div>
        
      </div></section>
      <div class="row1">
        <div class="b1" style="text-align: center;  ">
          <button onclick="myfunc()" style="margin-left: 35px;display: inline-block;background-color: #111961;
          color: #ffffff;border-radius: 10px;border: 1px solid #111961;-webkit-transition: all .2s;transition: all .2s;
        margin-top: 40px;  width: 240px; height: 40px;  align-items: center; font-size: 25px; text-align: center;">Finish now</button>
</div></div>
<br><br><br>
<!--***********************************BUSINESS(end)***********************************-->


<footer id="footer" style="background-color:  #cccde1; color:rgb(29, 28, 28); margin-bottom: 0; padding-bottom: 0; bottom: 0; ">
  

    <div class="footer-top" style="width: 100%; text-align: center;  font-size:16px; height: 45px;" >
      
              &copy; Copyright <strong><span>MyTime</span></strong>. All Rights Reserved
           
          
        </div>
      </footer>
          <!--End Footer-->
          

          <!-- Vendor JS Files -->
          <script src="static/secondpagejs/aos.js"></script>
          <script src="static/secondpagejs/bootstrap.bundle.min.js"></script>
          <script src="static/secondpagejs/glightbox.min.js"></script>
          <script src="static/secondpagejs/isotope.pkgd.min.js"></script>
          <script src="static/secondpagejs/validate.js"></script>
          <script src="static/secondpagejs/purecounter.js"></script>
          <script src="static/secondpagejs/swiper-bundle.min.js"></script>

          <!--Carousel JS Files-->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          <script src="static/secondpagejs/jquery.js"></script>
          <script src="static/secondpagejs/owl.carousel.js"></script>


         
          <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          
          
          <script src="static/secondpagejs/main.js"></script>
          <script src="static/secondpagejs/script1.js"> </script> <!---FOR TIMER-->
          <script src="static/secondpagejs/buttonfinish.js"></script> <!--FOR ALERT-->

          <!--  Adding JS For video Slider-->
          <script>
            $('.owl-carousel').owlCarousel({
              loop: false,
              margin: 40,
              nav: true,
              items: 4,
              autoplay: false,
              autoplayTimeout: 6000,
              responsive: {
                0: {
                  items: 1
                },

                480: {
                  items: 2
                },

                768: {
                  items: 3
                },
            }
            });</script>
          
           <script src="static/secondpagejs/jquery-3.4.1.min.js"></script>
          
          <script src="static/secondpagejs/parallax.min.js"></script>
          <script src="static/secondpagejs/tooplate-script.js"></script>
           
          <script>
            $(document).ready(function () {
              $('#parallax-1').parallax({ imageSrc: 'static/styles/secondpageimg/biz-oriented-header.jpg' });
              $('#parallax-2').parallax({ imageSrc: 'static/styles/secondpageimg/biz-oriented-footer.jpg' });
            });
          </script>
          </script>

</body>


</html>