 /*bolgs*/

* {
    margin: 0%;
    padding: 0%;
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: cursive;
    background-image: url('img9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% ;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    width: 100%;
    float:left;
    background-color: #cff5f586;
  }
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: rgb(138, 140, 141);
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header {
    padding: 15px;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    background: #c3f7f7;
    color: rgb(90, 90, 90);
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #0eeeee;
    color: rgb(41, 40, 40);
    margin-top: 20px;
    font-style: italic;
}
.mainHeading {
    text-align: center;
    font-weight:600;
    font-size:xx-large;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px groove rgb(238, 235, 235);
    border-radius: 1%;
    margin-left: auto; 
    margin-right: auto;
    width: 85%;
}
.date {
    /*border: 2px solid black;*/
    font-size:small;
    width: 10%;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    color: rgb(29, 28, 28);
    background-image: linear-gradient(rgb(200, 220, 243), rgb(233, 230, 230));
}
p {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-family: cursive;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: medium;
    color: rgb(51, 50, 50);
}
h3 {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: rgb(247, 14, 14);
}
li {
    margin-left: 25px;
    list-style: none;
}
.makeBlue {
    text-decoration: underline;
    color:rgb(3, 86, 92);
    font-weight: bold;
}
ol li {
    list-style-type: number;
    padding-left: 10px;
}
.makeBold {
    font-weight: bold;
}
.makeItalics {
    font-style: italic;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 5px solid rgb(12, 12, 12);
}