.navbar ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  width: 100%;
  float:left;
  background-color: #d3d3d386;
}
.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  background-image: url("img4.jpg");
}

img {
  max-width: 100%;
}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("img1.jpg");
}
.slide-2 {
  background-image: url("img5.jpg");
}
.slide-3 {
  background-image: url("img3.jpg");
}


.grid {
  display: grid;
  padding: 2rem;
  grid-template-columns: 350px 1fr;
  gap: 1rem;
  align-items: center;
  background-color:   #D8BFD8;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background:rgba(80DAEB, 0.8)  
  }
}
.aboutus{
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin:100px auto;
  background-color: #BC8F8F;
  font: 500 100%/1.5 system-ui;
}
button {
  border-radius: 4px;
  background-color: black;
  display:grid;
  justify-content: center;
  border: none;
  color: white;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: 20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
